<html>
<head>
  <title>Thirdy Party API Tester</title>
  <link rel="shortcut icon" href="/favicon.png" type="image/png">
</head>
<body>
  <script src="/vhx.js"></script>
  <script> var vhxjs = new vhx();</script>
</body>
</html>
